*{
    padding: 0;
margin: 0 auto;
}


.slider{
    width: 100%;
    height: auto;
    

}
.slider img{
    width: 50px;
    
}
.slider ul{
    position: fixed;
    right: -109px;
    top:20%;
    margin: 1px;
}

.slider li{
    display: flex;
    border: 1px solid #cbeffb;
    list-style: none;
    align-items: center;
    background-color: #cbeffb;
    width: 170px;
    height: 60px;
    padding: 2px;
    transition-duration: 1s;
    

}
 .slider li:hover{
    transition-duration: 0.2s;
    transform: translate(-77px,0);

} 
.slider li div{
    text-align: center;
    text-align: center;

    
}

ul li:last-child{
    flex: 1.5 ;
}

.slider li a{
    color: black;
    text-decoration: none;
    padding-right: 20px;
    


}

.container{
   max-width: 1200px;

    height: auto;
    border:  1px solid red;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 180px;


}
:root{
    --width:136px;
    --height:60px;
    --margin-left:10px;


}
.logo img{
    width: var(--width) ;
    height: var(--height) ;
    margin-top: 20px ;
    margin-left: var(--margin-left);
}
.sbi{
    width: var(--width) ;
    height: var(--height) ;
    float: right;
    margin-top: 20px;
    margin-left: var(--margin-left);
}
.navbar{
    width: 100%;
    height: 50px;
    background-color:#0c376a;
    margin-top: 20px;
    z-index: 2;

    
    
}
.navbar h1{
    display: none;
}
.navbar ul {
    display: flex;
    height: 50px;
    list-style: none;
    justify-content: center;
    text-align: center;
    align-items: center;


}
 .navbar ul li {
    border: 1px solid white;
    padding: 2px;
    height: 50px;
    width: 240px;
    line-height: 50px;
    float: left;
    position: relative;
    flex: 1;
    text-align: center;
 }
 
 .navbar ul  li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin: 1px;
    font: 15px ;
    float: left;
 }
 .navbar ul li a:hover{
    cursor: pointer;
    color: white;
    
    

 }
 .navbar ul li:hover{
    background-color: #0c376a;
    border: 1px solid #0c376a;
    color: white;

 }
    

 .navbar ul li ul li a{
    color: black;
       
 }

.navbar ul li ul{
    display: none;




    

}
.navbar ul li ul li{
    border: 1px solid #0c376a;  
    background-color: white;

}


.navbar ul li:hover ul{
    display: block;
    
    
    
    
    
    
}
.navbar ul li ul li ul{
    margin-left: 240px;


}
.navbar ul li:hover ul li ul{
    display: none;
}
.navbar ul li ul li:hover ul{
    display: block;
    
}
#item{
    width: 120px;

    
}

.hindi-text{
    padding-left: 90px;
     background-color: green;
    color: red;
    font-size: 12px;
    height: 50px;
    

   }
   .hindi-text  span{
    color: yellow;
    border:  1px solid green;

   }
   .navbar-nav >li>a{
    background-color:#0c376a;  



    
   }
   .mendate>a {
    font-size: 15px;
   }
    .mendate span{
        animation: mendate 0.1s alternate infinite; 
        
    }

   
   @keyframes mendate{
    0%{
        color: orange;
    }
    100%{
        color: green;
    }

   }
      .text-animation{
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 20px;
    color: blue;
    border: 1px solid lightgrey;
    z-index: 1;
    
    
    
}
.login-page-paragraph{
       animation: paranimation 0.5s infinite  alternate ease-in-out;
    padding: 12px;
   }
.sbi-paragraph{
    padding: 12px;
}
@keyframes paranimation {
    0%{
        color:blue;
    }
    50%{
        color: rgb(179, 20, 20);

    }
    100%{
        color:orange ;
    }
    
}
.personal-banking{
    /* margin: auto; */
    text-align: center;
    margin-top: 33px;
    border: 1px solid gray;
}
.personal-banking a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    font-size: 25px;
}
.login-btn{
    background-color:#0c376a;
    color: white;
    width: 180px;
    height: 30px;
    font-size: 20px;
}
.banking-section{
    display: flex;
    width: 100%;
    margin: 2px;
    
    

}
.personal-banking{
    width: 50%;
    background-color: #f8f8f8;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding-right: 4px;
}
.personal-banking img{
    margin-top: 30px;
}

.yono-sbi-business{
    width: 48%;
    margin-top: 30px;
    background-color: #f8f8f8;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    padding-right: 8px;
}
.yono-sbi-business button{
    width: 120px;
    height: 30px;
    background-color: #0c376a;
    color: white;
        font-size: 15px;
        margin: 2px;
    

}
.yono-sbi-business input{
    width: 150px;
    height: 30px;
}
.yono {
    margin-top: 7px;
    height: 60px;
    opacity: 1;
}
.input-text{
    margin-top: 4px;
    width: 40%;
    display: flex;
    padding: 10px;
    background-color: white;

}
.input-text li{
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
}
.yono-sbi-business h1{
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-registration{
    display: flex;
    font-size:15px ;

}
.navbar-registration li{
    list-style: none;
    margin-top: 15px;
    width: 100%;
    text-transform: capitalize;
}

    .navbar-registration span{
        margin-top: 50px;

    }

.personal-banking p{
    font-size: 15px;
    margin-top: 10px;
}
text{
    font-size: 8px;
}
.registration{
    height: 60px;
    padding-left: 20px;
    margin-top: 5px;
}
.registration1{
    height: 75px;
    padding-left: 35px;
    margin-top: 5px;
}
.questionmark{
    height: 50px;
    padding-right: 8px;
    margin-top: 5px;
}
.questionmark1{
    height: 60px;
    margin-top: 10px;
}
.customber{
    height: 40px;
    padding-right: 4px;
}
.customber1{
    height: 55px;
    margin-top: 25px;

}
.item{
    margin-top: 50px;

}
.marquee{
    background-color:#cbeffb;
    color: red;
    margin-right: 12px;
    border: 1px solid black;
    width: 100%;
    margin: 10px 10px 10px 0px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    white-space:nowrap;
    height: 28px;
}
.marquee p{
    animation: marquee 10s linear infinite;

}
@keyframes marquee {
    0%{
        transform: translatex(100%);

    }
    100%{
        transform: translateX(-100%);
    }
}

    
.marquee p:hover{
    animation-play-state: paused;
}   
.navbar-nav{
    display: flex;
}
.navbar-nav div{
    flex: 1;
}
.navbar-nav div li{
    list-style: none;
    list-style-position: outside;
    margin-top: 20px;
}
.navbar-nav div  li a{
    text-decoration: none;
    margin: 10px;
    margin-left: 30px;
    font-size: 15px;


    
}
.navbar-nav div li a:hover{
    color: black;
    text-decoration:underline;
    
}
.extra-link{
    text-align: center;
    background-color: white;
    margin-top: 40px;
    
}
.extra-link button{
    font-size: 15px;
    width: 180px;
    border: 1px solid blue;
    padding: 10px;
    

}
.image-box{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    margin-top: 20px;
}
.image-box div {
    width: 9600px;
    position: relative;
    animation: slider 20s infinite alternate  linear;
    
}
.image-box img{
   max-width: 1200px;
    height: 300px;
    float: left;

}
@keyframes slider {
        0%{
            left:0px;

        }
        10%{
            left: 0px;
        }
        15%{
            left: -1200px;
        }
        20%{
            left:-1200px;
        }
        25%{
            left: -2400px;
        }
        30%{
            left:-2400px
        }
        35%{
            left: -4800px;
        }
        40%{
            left: -4800px;
        }
        55%{
            left: -7200px;
        }
        75%{
            left: -7200px;
        }
        85%{
            left: -8400px;
        }
        100%{
            left: -8400px;
        }
        


    }
    .footer{
        display: flex;
        background-color:#0c376a;
        align-items: center;
        color: white;
        margin-top: 5px;
    }
    .footer div{
        flex: 1;
    }
    .sbi-bank-foooter{
        width: 40%;
        
    }
    .footer-img{
        display: none;
    }
    .sbi-footer{
        width: 60%;
        margin-left: 50px;
    }
    .lock{
        width: 50px;
        font-size: 15px;
    }
    .sbi-bank-foooter span img {
        margin-top: 10px;
        
    
    }
  
 
